.aboutUsDiv{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    color: lightgrey;
    margin-bottom: 50px;
}
.aboutUsDiv p{
    word-spacing: 1px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.aboutUsDiv img{
    width: 40%;
}

.aboutUsDiv button{
    background-color: rgb(32, 32, 32);
    color: white;
    font-size: 15px;
    border: solid 3px black;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px;
    width: 50%;
    padding: 10px;
}
.aboutUsDiv button:active {
    transform: scale(0.98);
}