.myAccountDiv{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
    "accountTitle accountTitle accountTitle accountTitle"
    "usernameChange username emailChange email"
    "logOutButton logOutButton backHomeButton backHomeButton";
    border-radius: 25px;
    background-color: #414141;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.myAccountDiv .accountTitle{
    grid-area: accountTitle;
}

.myAccountDiv .username{
    grid-area: username;
    margin-right: auto;
    margin-left: 10px;
}

.myAccountDiv .usernameChange{
    color: lightblue;
    grid-area: usernameChange;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
}

.myAccountDiv .email{
    grid-area: email;
    margin-right: auto;
    margin-left: 10px;
}

.myAccountDiv .emailChange{
    color: lightblue;
    grid-area: emailChange;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
}

.myAccountDiv button{
    margin: 20px;   
    border-radius: 100px;
    background-color: rgb(32, 32, 32);
    color: white;
    font-size: 15px;
    border: solid #CA3E47 2px;
    padding: 10px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.myAccountDiv button:active {
    transform: scale(0.98);
}

.myAccountDiv .logOutButton{
    grid-area: logOutButton;
}

.myAccountDiv .backHomeButton{
    grid-area: backHomeButton;
}