.App {
  text-align: center;
  display: grid;
  grid-template-columns: 160px auto;
  grid-template-rows: 100px auto;
  grid-template-areas:
  "logo homePageButtons"
  "show show"
  "footer footer";
}

.logo{
  grid-area: logo;
}

.homePageButtons{
  grid-area: homePageButtons;
}

.startHomePage{
  grid-area: startHomePage;
}

.quiz{
  grid-area: quiz;
}

.footer{
  grid-area: footer;
}

.quizSelector {
  grid-area: quizSelector;
}

.leaderboard{
  grid-area: leaderboard;
}