.deathDiv{
    grid-area: death;
    display: grid;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: auto;
    grid-template-rows:auto;
    grid-template-areas:
    "deathimage deathimage"
    "text text"
    "newQuiz goToHistory";
}
.deathDiv button{
    background-color: rgb(32, 32, 32);
    color: white;
    font-size: 15px;
    border: solid 2px #CA3E47;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px;
    width: 50%;
    padding: 10px;
}
.deathDiv button:active {
    transform: scale(0.98);
}
.deathDiv img{
    grid-area: deathimage;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

.deathDiv .newQuiz{
    grid-area: newQuiz;
}
.deathDiv .goToHistory{
    grid-area: goToHistory;
}
.deathDiv p{
    grid-area: text;
    font-size: 30px;
    color: white;
}