.footerDiv{
    background-color:#313541;
    border-top: solid black;
    grid-area: footer;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
    "followProject";
    color: rgb(177, 177, 177);
    bottom: 0;
    height: 10vh;
    width: 100%;
    position: fixed;
}
.followProject{
    grid-area: followProject;
    margin-left: auto;
    margin-right: auto;
}
.footerDiv a{
    color: rgb(177, 177, 177);
}

.footerDiv h3{
    color: white;
}