.forgottenPasswordDiv{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
    "forgottenPasswordTitle forgottenPasswordTitle"
    "forgottenPasswordLable forgottenPasswordLable"
    "forgottenPasswordInput forgottenPasswordInput"
    "forgottenPasswordError forgottenPasswordError"
    "forgottenPasswordSend forgottenPasswordCancel";
    border-radius: 25px;
    background-color:#414141;
    padding: 10px;
    color: white;
}
.forgottenPasswordDiv button{
    margin: 10px;
    width: 40%;
    padding: 7px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 100px;
    background-color: rgb(32, 32, 32);
    color: white;
    font-size: 15px;
    border: solid 2px #CA3E47;
}
.forgottenPasswordDiv .forgottenPasswordTitle{
    grid-area: forgottenPasswordTitle;
}
.forgottenPasswordDiv .forgottenPasswordLable{
    grid-area: forgottenPasswordLable;
    font-size: 20px;
}
.forgottenPasswordDiv .forgottenPasswordInput{
    grid-area: forgottenPasswordInput;
    margin-top: 10px;
    width: 30%;
    margin-right: auto;
    margin-left: auto;
}
.forgottenPasswordDiv .forgottenPasswordError{
    grid-area: forgottenPasswordError;
    color: red;
}
.forgottenPasswordDiv .forgottenPasswordSend{
    grid-area: forgottenPasswordSend;
}
.forgottenPasswordDiv .forgottenPasswordCancel{
    grid-area: forgottenPasswordCancel;
}

.forgottenPasswordDiv button:active {
    transform: scale(0.98);
}