.historyDiv{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    grid-area: history;
    background-color:#313541;
    border-radius: 25px;
    border: solid rgba(255, 165, 0, 1) 2px;
    box-shadow: 10px 10px 10px;
}
.historyDiv h2{
    color: white;
}
.historyDiv p{
    color: lightgrey;
}

.historyDiv button{
    margin: 20px;   
    border-radius: 100px;
    background-color: rgb(32, 32, 32);
    color: white;
    font-size: 15px;
    padding: 15px;
}

.historyDiv button:hover {
    color: gray;
}

.historyDiv button:active {
    transform: scale(0.98);
}

.completedQuiz {
    text-align: left;
    margin: 5px auto 5px auto;
    width: 50%;
    border: solid black 2px;
    border-radius: 5px;
    color: white;
    padding: 10px;
    font-size: 20px;
    display: grid;
    grid-template-areas: 
    "quizType time"
    "score score"
    "date date";
    background-color:rgb(32, 47, 47);

}

.quizType {
    grid-area: quizType;
    font-size: 20px;
}

.score {
    grid-area: score;
}

.date {
    grid-area: date;
}

.time {
    grid-area: time;
    text-align: right;
}