.Div{
    text-align: center;
    display: grid;
    grid-template-columns: 25% 25% 25% auto;
    grid-template-rows: auto;
    grid-template-areas:
    "history leaderboard aboutUs something";
    grid-area: homePageButtons;
    border-bottom: solid;
    background-color:#313541;
}
.Div button{
    margin: 20px;   
    border-radius: 100px;
    background-color: rgb(32, 32, 32);
    color: white;
    font-size: 15px;
    border: solid 3px black;
}
.Div button:hover{
    color: gray;
}

.Div button:active {
    transform: scale(0.98);
}
.history{
    grid-area: history;
    background-color: rgb(255, 255, 255);
    border: 1.25px solid;
}
.leaderboard{
    grid-area: leaderboard;
    background-color: rgb(255, 255, 255);
    border: 1.25px solid;
}
.aboutUs{
    grid-area: aboutUs;
    background-color: rgb(255, 255, 255);
    border: 1.25px solid;
}
.something{
    grid-area: something;
    background-color: rgb(255, 255, 255);
    border: 1.25px solid;
}