.Div{
    text-align: center;
    display: grid;
    grid-template-columns: 25% 25% 25% auto;
    grid-template-rows: auto;
    grid-template-areas:
    "history leaderboard aboutUs something";
    grid-area: homePageButtons;
    border-bottom: solid;
    background-color:#414141;
}
.Div button{
    margin: 20px;   
    border-radius: 25px;
    background-color: #222222;
    color: white;
    font-size: 20px;
    border: solid 2px #CA3E47;
}

.Div button:active {
    transform: scale(0.98);
}
.history{
    grid-area: history;
    background-color: rgb(255, 255, 255);
    border: 1.25px solid;
}
.leaderboard{
    grid-area: leaderboard;
    background-color: rgb(255, 255, 255);
    border: 1.25px solid;
}
.aboutUs{
    grid-area: aboutUs;
    background-color: rgb(255, 255, 255);
    border: 1.25px solid;
}
.something{
    grid-area: something;
    background-color: rgb(255, 255, 255);
    border: 1.25px solid;
}