.Div{
    margin-bottom: 10px;
    text-align: center;
    display: grid;
    grid-template-columns: 25% 25% 25% auto;
    grid-template-rows: auto;
    grid-template-areas:
    "history leaderboard aboutUs kys";
    background-color: #30303000;
    grid-area: homePageButtons;
}
.Div button{
    margin: 20px;   
    border-radius: 100px;
}
.Div button:hover{
    background-image: url(../images/kermit.jpg);
    background-size: cover;
    background-position-y: -20px;
    font-size: 20px;
}
.history{
    grid-area: history;
    background-color: rgb(255, 255, 255);
    border: 1.25px solid;
}
.leaderboard{
    grid-area: leaderboard;
    background-color: rgb(255, 255, 255);
    border: 1.25px solid;
}
.aboutUs{
    grid-area: aboutUs;
    background-color: rgb(255, 255, 255);
    border: 1.25px solid;
}
.something{
    grid-area: kys;
    background-color: rgb(255, 255, 255);
    border: 1.25px solid;
}