.quizSelectorContainer {
    margin: auto;
    background-color: #313541;
    color: black;
    grid-area: quizSelector;
    display: grid;
    grid-template-areas:
    "title title title title" 
    "card card card card"
    "card card card card";
    border: solid white 2px;
    border-radius: 5px;
    width: fit-content;
}

.title {
    grid-area: title;
    color: white;
}

.selectorCards {
    background-color: white;
    border: solid rgba(255, 165, 0, 1) 2px;
    width: 150px;
    height: 175px;
    vertical-align: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    margin: 20px;
}

.cardText {
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 3px;
    border-radius: 4px;
    display: none;
}

.selectorCards:hover .cardText{

    display: inline;
    
}
.selectorCards:hover {
    background-color: darkgrey;
}


.jsCard {
    background-image: url(../images/js.png);
    background-size: cover;
    background-position: center;
}

.htmlCard {
    background-image: url(../images/html.png);
    background-size: contain;
    background-position: center;
}

.sqlCard {
    background-image: url(../images/sql.png);
    background-size: cover;
    background-position: center;
}

.dockerCard {
    background-image: url(../images/docker.png);
    background-size: cover;
    background-position: center;
}

.phpCard {
    background-image: url(../images/php.png);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
}

.linuxCard {
    background-image: url(../images/tux.png);
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center;
}

.bashCard {
    background-image: url(../images/bash.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.kuberCard {
    background-image: url(../images/kuber.png);
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center;
}