.quizDiv{
    text-align: center;
    margin: auto;
    grid-area: quiz;
    margin-top: 100px;
    display: grid;
    width: 50%;
    height: 100%;
    grid-template-columns: auto;
    grid-template-rows: auto ;
    grid-template-areas:
    "question"
    "answer1"
    "answer2"
    "answer3"
    "answer4"
    "button";
}
.question{
    text-align: center;
    grid-area: question;
    color: white;
}
.answer1{
    grid-area: answer1;
    margin: 20px;
    margin-top: 0px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.answer2{
    grid-area: answer2;
    margin: 20px;
    margin-top: 0px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.answer3{
    grid-area: answer3;
    margin: 20px;
    margin-top: 0px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.answer4{
    grid-area: answer4;
    margin: 20px;
    margin-top: 0px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.generateButton {
    grid-area: button;
    margin: auto;
}

.generateButtonContainer {
    grid-area: button;
    text-align: center;
    
}
.hideButton{
    display: none;
}
.quizDiv button:hover{
    color: white;
    background-color: rgb(32, 32, 32);
}