.quizDiv{
    background-color:#313541;
    box-shadow: 10px 10px 10px;
    border-radius: 20px;
    text-align: center;
    margin: auto;
    grid-area: quiz;
    margin-top: 100px;
    margin-bottom: 150px;
    display: grid;
    width: 50%;
    grid-template-columns: auto;
    grid-template-rows: auto ;
    grid-template-areas:
    "question question"
    "counter lives"
    "answer1 answer1"
    "answer2 answer2"
    "answer3 answer3"
    "answer4 answer4"
    "button button";
}
.question{
    text-align: center;
    grid-area: question;
    color: white;
    margin-left: 5px;
    margin-right: 5px;
}
.answer1{
    grid-area: answer1;
    margin: 20px;
    margin-top: 0px;
    width: 50%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(32, 32, 32);
    color: white;
}
.answer2{
    grid-area: answer2;
    margin: 20px;
    margin-top: 0px;
    height: 80%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(32, 32, 32);
    color: white;
}
.answer3{
    grid-area: answer3;
    margin: 20px;
    margin-top: 0px;
    height: 80%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(32, 32, 32);
    color: white;
}
.answer4{
    grid-area: answer4;
    margin: 20px;
    margin-top: 0px;
    height: 80%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(32, 32, 32);
    color: white;
}

.cancelQuiz {
    grid-area: button;
    margin: auto;
    margin-bottom: 20px;
}
.quizDiv button:hover{
    background-color: rgb(54, 54, 54);
}

.counter{
    grid-area: counter;
    font-size: 25px;
    color: green;
    -webkit-text-stroke: 1.25px black;
    margin-top: 0px;
}

.lives{
    grid-area: lives;
    font-size: 25px;
    -webkit-text-stroke: 0.5px red;
    margin-top: 0px;
}

.lives img{
    width: 20px;
}

.hide{
    display: none;
}