.resetFailDiv{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
    "resetFailTitle"
    "resetFailContinue";
    border-radius: 25px;
    padding: 10px;
}
.resetFailDiv button{
    margin: 10px;
    width: 25%;
    padding: 7px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 100px;
    background-color: rgb(32, 32, 32);
    color: white;
    font-size: 15px;
    border: solid 2px #CA3E47;
}
.resetFailDiv .resetFailTitle{
    grid-area: resetFailTitle;
    color: white;
}

.resetFailDiv .resetFailContinue{
    grid-area: resetFailContinue;
    font-size: 20px;
}

.resetFailDiv button:active {
    transform: scale(0.98);
}