.resetPasswordDiv{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
    "resetPasswordTitle resetPasswordTitle"
    "resetPasswordNewLable resetPasswordNewInput"
    "resetPasswordConfirmLable resetPasswordConfirmInput"
    "resetPasswordError resetPasswordError"
    "resetPasswordSend resetPasswordCancel";
    border: solid black;
    border-radius: 25px;
    background-color:#313541;
    padding: 10px;
    color: white;
}
.resetPasswordDiv button{
    margin: 10px;
    width: 40%;
    padding: 7px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 100px;
    background-color: rgb(32, 32, 32);
    color: white;
    font-size: 15px;
    border: solid 3px black;
}
.resetPasswordDiv .resetPasswordTitle{
    grid-area: resetPasswordTitle;
}
.resetPasswordDiv .resetPasswordNewLable{
    grid-area: resetPasswordNewLable;
    font-size: 20px;
    margin-left: auto;
}
.resetPasswordDiv .resetPasswordNewInput{
    grid-area: resetPasswordNewInput;
    margin-top: 10px;
    margin-right: auto;
    margin-left: 10px;
}
.resetPasswordDiv .resetPasswordConfirmLable{
    grid-area: resetPasswordConfirmLable;
    font-size: 20px;
    margin-left: auto;
}
.resetPasswordDiv .resetPasswordConfirmInput{
    grid-area: resetPasswordConfirmInput;
    margin-top: 10px;
    margin-right: auto;
    margin-left: 10px;
}
.resetPasswordDiv .resetPasswordError{
    grid-area: resetPasswordError;
    color: red;
}
.resetPasswordDiv .resetPasswordSend{
    grid-area: resetPasswordSend;
}
.resetPasswordDiv .resetPasswordCancel{
    grid-area: resetPasswordCancel;
}

.resetPasswordDiv button:active {
    transform: scale(0.98);
}