.showDiv {
    grid-area: show;
    margin-top: auto;
    margin-bottom: auto;
    padding: 20px;
    height: 100%;
}

.hide{
    display: none;
}

.winShowDiv{
    grid-area: show;
    margin-top: auto;
    margin-bottom: auto;
    padding: 20px;
    height: 100%;
    background-image: url(https://i.gifer.com/origin/03/03270abe66b1c66ef8832c57aa6da0c1_w200.webp);
}