.startQuizDiv{
    width: 50%;
    grid-area: startHomePage;
    margin: auto;
    animation: fadeIn 3s;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
    "img img"
    "startNewGame seeYourHistory";
}
.startQuizDiv img{
    grid-area: img;
    margin-left: auto;
    margin-right: auto;
}
.startQuizDiv button{
  background-color: #222222;
  color: white;
  font-size: 25px;
  border: solid 2px #CA3E47;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100px;
  width: 70%;
  padding: 10px;
}

.startQuizDiv button:active {
  transform: scale(0.98);
}

.startNewGame{
  grid-area: startNewGame;
}

.seeYourHistory{
  grid-area: seeYourHistory;
}

@media (prefers-reduced-motion: no-preference) {
    .startQuizDiv img {
      animation: startQuizDiv-img-float infinite 5s ease-in-out;
    }
}

@keyframes startQuizDiv-img-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}