@font-face {
  font-family: 'Frutiger';
  src: url(fonts/Frutiger\ LT\ Std\ 55\ Roman\ Regular.otf);
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #313131;
  /* background-image: url(./images/buildings.jpg);
  background-size:cover */
}

code {
  font-family: Frutiger,
    monospace;
}